*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  text-align: center;


}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.group {
  margin: 10px 0;
  font-weight: bold;
}
button {
  margin: 5px;
  padding: 8px 16px;
  font-size:2rem
}
.container h1{
  font-size:4rem ;
}

.container p{
  font-size:1.8rem ;
}
.x-1{
  margin-bottom:4rem;
}

.x-1 strong{
  font-size: 2rem;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 15px #0ff;
  }
  50% {
    text-shadow: 0 0 15px #fff, 0 0 30px #0ff, 0 0 45px #0ff;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 15px #0ff;
  }
}

.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
  color: rgb(19, 20, 20);
}

#header {
  transition: all 1s ease;
}
